.buttons {
    padding: 50px ;
}
#butt-1,#butt-2,#butt-3 {
    margin: 10pt;
}


#b1 {
    border-radius: 12px;
    background-color: rgb(214, 223, 230);
    color: rgb(12, 170, 83);
    border: 2px solid rgb(12, 170, 83);
    font-style: normal;
    width: 100pt;
    height: 20pt;
    font-weight: 800;
}
#b2 {
    border-radius: 50%;
    background-color: rgb(12, 170, 83);
    color: rgb(255, 255, 255);
    font-weight: 600;
    border: 0cap;
    width: 25pt;
    height: 25pt;
    
}
#b3 {
    background-color: rgb(67, 114, 243);
    color: aliceblue;
    box-shadow: 2px 2px  rgb(27, 13, 13);
    width: 120pt;
    height: 25pt;
    

}