.container {
display: block;
justify-content: space-around;
margin: 30px;
padding:  20px 50px 50px;
}
header {
    background-color: rgb(132, 190, 190);
    height: 100px;
}
img {
    background-color: black;
    padding: 5px;
    margin: 35px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.main_flex {
    border: 500px;
    padding:  90px 20px 20px 20px;
    margin: 10px;
}
h1 h3 p {
    margin: 100px;
    padding: 50px;
    width: 150px;
    height: 150px;
}

